<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>TPL (PageTable)</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> для удобного использования сайта.
		</p>
	<![endif]-->
	
	<div class="page">
		<div class="page__sidebar">
			<div class="sidebar">
				<div class="sidebar__logo"><i class="js-svg_logo"></i></div>
				<nav class="sidebar__menu menu menu_primary">
					<div class="menu__item active"><a href="#" class="menu__link">Классические торты</a></div>
					<div class="menu__item"><a href="#" class="menu__link">Муссовые торты</a></div>
					<div class="menu__item"><a href="#" class="menu__link">Капкейки</a></div>
					<div class="menu__item"><a href="#" class="menu__link">Галлерея</a></div>
					<div class="menu__item"><a href="#" class="menu__link">Отзывы</a></div>
				</nav>
				<div class="sidebar__footer">
					<div class="sidebar__links">
						<div class="sidebar__contacts">
							<a href="#" class="sidebar__contact">+7 (987) 654-32-12</a>
							<a href="#" class="sidebar__contact">ask@goldconditer.ru</a>
						</div>
						<div class="sidebar__soc">
							<a href="#" class="sidebar__soc-btn btn btn_primary"><i class="js-svg_vk"></i></a>
							<a href="#" class="sidebar__soc-btn btn btn_primary"><i class="js-svg_in"></i></a>
						</div>
					</div>
					<div class="sidebar__copyright">&copy; GoldConditer.ru, 2017</div>
				</div>
			</div>
		</div>
		<div class="page__main">
			<div class="page__main-inner">
				<!--<h1 class="page__title"><span class="page__title-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ullam.</span></h1>-->
				<div class="page__content page__content_sheet">

				</div>
			</div>
		</div>
	</div>


	<!--<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>-->
	<script>window.jQuery || document.write('<script src="js/jquery-2.2.2.min.js"><\/script>')</script>
	<script src="js/svg-images.js"></script>
	<script src="js/main.js"></script>
</body>
</html>